{% extends 'layout.html' %}

{% block body %}
        {% if ngo != None %}
        <div class="columns is-centered" style="margin-top: 2px; margin-bottom: 2px;">
            <div class="column is-one-third">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <img src="{{ url_for('static', filename='profile_pics/' + ngo.ngo_image_file) }}"
                                alt="" width="60">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-left">
                                <figure class="image is-48x48">
                                    <img src="{{ url_for('static', filename='profile_pics/' + ngo.ngo_image_file) }}"
                                        alt="" class="profile" width="60">
                                </figure>
                            </div>
                            <div class="media-content">
                                <p class="title is-4">{{ ngo.ngo_name }}</p>
                                <p class="subtitle is-6">@{{ ngo.ngo_name }}</p>
                            </div>
                        </div>
        
                        <div class="content">
                            {{ ngo.ng_info }} <a>@bulmaio</a>.
                            <br>
                            <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
{% endblock %}
